---
layout: layouts/patched-base.njk
layoutSkipNav: true
bodyClass: site-body
---
<a class="skip" href="#main">{{ skipLabel | default(intl.ui.skip_to_content) }}</a>
<div class="site-shell">
  {% include "site-header.njk" %}
  {{ content | safe }}
  {% include "site-footer.njk" %}
</div>
